@font-face {
  font-family: 'wrapmsgr-icon';
  src:
    url('../icon//wrapmsgr-icon.ttf') format('truetype'),
    url('../icon/wrapmsgr-icon.woff') format('woff'),
    url('../icon/wrapmsgr-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.wrapmsgr_container i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wrapmsgr-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #9d9fa4;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapmsgr_container .icon_triangle{
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
}
.wrapmsgr_container .icon_triangle.wrapmsgr_expand{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #9d9fa4;
	margin: 7px 5px;
}
.wrapmsgr_container .icon_triangle.wrapmsgr_collapse{
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent; 
	border-left: 4px solid #9d9fa4;
	margin: 5px 7px;
}

.wrapmsgr_container .icon_checkbox {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #cdced1;
    border-radius: 2px;
}
.wrapmsgr_container .icon_checkbox.disabled {
    background-color: #edeff3;
}
.wrapmsgr_container input:checked[type="checkbox"] + label .icon_checkbox:before {
    content: "\e919";
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 15px;
    color: #fff;
}
.wrapmsgr_container input:checked[type="checkbox"] + label .icon_checkbox {
    position: relative;
    border-color: #25c16f;
    background-color: #25c16f;
}
.wrapmsgr_container input:checked[type="checkbox"] + label .icon_checkbox.disabled {
	background-color: #edeff3;
	border-color: #cdced1;
}

.wrapmsgr_container .icon_bell:before {
  content: "\e908";
}
.wrapmsgr_container .icon_download:before {
  content: "\e921";
}
.wrapmsgr_container .icon_ellipsis_h:before {
  content: "\e923";
}
.wrapmsgr_container .icon_ellipsis_v:before {
  content: "\e924";
}
.wrapmsgr_container .icon_eye:before {
  content: "\e926";
}
.wrapmsgr_container .icon_mobile:before {
  content: "\e935";
}
.wrapmsgr_container .icon_paper_plane:before {
  content: "\e936";
}
.wrapmsgr_container .icon_phone:before {
  content: "\e939";
}
.wrapmsgr_container .icon_plus:before {
  content: "\e93a";
}
.wrapmsgr_container .icon_search:before {
  content: "\e941";
}
.wrapmsgr_container .icon_times:before {
  content: "\e946";
}
.wrapmsgr_container .icon_users:before {
  content: "\e94c";
}
.wrapmsgr_container .icon_mail:before {
  content: "\e97c";
}
.wrapmsgr_container .icon_arrow_down:before {
  content: "\ec00";
}
.wrapmsgr_container .icon_log_out:before {
  content: "\ec01";
}
.wrapmsgr_container .icon_bell_off:before {
  content: "\ec02";
}

.wrapmsgr_container .icon_doc,
.wrapmsgr_container .icon_pdf,
.wrapmsgr_container .icon_ppt,
.wrapmsgr_container .icon_xls,
.wrapmsgr_container .icon_hwp,
.wrapmsgr_container .icon_image,
.wrapmsgr_container .icon_video,
.wrapmsgr_container .icon_txt,
.wrapmsgr_container .icon_document,
.wrapmsgr_container .icon_compressed {
  display: inline-block;
  margin-right: 13px;
}
.wrapmsgr_container .icon_doc *,
.wrapmsgr_container .icon_pdf *,
.wrapmsgr_container .icon_ppt *,
.wrapmsgr_container .icon_xls *,
.wrapmsgr_container .icon_hwp *,
.wrapmsgr_container .icon_image *,
.wrapmsgr_container .icon_video *,
.wrapmsgr_container .icon_txt *,
.wrapmsgr_container .icon_document *,
.wrapmsgr_container .icon_compressed * {
  float: left;
}
.wrapmsgr_container .icon_doc .path1:before {
  content: "\e91c";
  color: rgb(233, 242, 253);
}
.wrapmsgr_container .icon_doc .path2:before {
  content: "\e91d";
  margin-left: -0.76953125em;
  color: rgb(18, 116, 232);
}
.wrapmsgr_container .icon_doc .path3:before {
  content: "\e91e";
  margin-left: -0.76953125em;
  color: rgb(18, 116, 232);
}
.wrapmsgr_container .icon_doc .path4:before {
  content: "\e91f";
  margin-left: -0.76953125em;
  color: rgb(18, 116, 232);
}
.wrapmsgr_container .icon_doc .path5:before {
  content: "\e920";
  margin-left: -0.76953125em;
  color: rgb(18, 116, 232);
}
.wrapmsgr_container .icon_pdf .path1:before {
  content: "\e95c";
  color: #ffecec;
}
.wrapmsgr_container .icon_pdf .path2:before {
  content: "\e95d";
  color: #ff353b;
  margin-left: -0.76953125em;
}
.wrapmsgr_container .icon_pdf .path3:before {
  content: "\e95e";
  color: #ff353b;
  margin-left: -0.76953125em;
}
.wrapmsgr_container .icon_ppt .path1:before {
  content: "\e93b";
  color: rgb(255, 99, 68);
}
.wrapmsgr_container .icon_ppt .path2:before {
  content: "\e93c";
  margin-left: -0.76953125em;
  color: rgb(255, 239, 236);
}
.wrapmsgr_container .icon_ppt .path3:before {
  content: "\e93d";
  margin-left: -0.76953125em;
  color: rgb(255, 99, 68);
}
.wrapmsgr_container .icon_ppt .path4:before {
  content: "\e93e";
  margin-left: -0.76953125em;
  color: rgb(255, 99, 68);
}
.wrapmsgr_container .icon_ppt .path5:before {
  content: "\e93f";
  margin-left: -0.76953125em;
  color: rgb(255, 99, 68);
}
.wrapmsgr_container .icon_xls .path1:before {
  content: "\e94e";
  color: rgb(234, 248, 240);
}
.wrapmsgr_container .icon_xls .path2:before {
  content: "\e94f";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path3:before {
  content: "\e950";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path4:before {
  content: "\e951";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path5:before {
  content: "\e952";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path6:before {
  content: "\e953";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path7:before {
  content: "\e954";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path8:before {
  content: "\e955";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path9:before {
  content: "\e956";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path10:before {
  content: "\e957";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_xls .path11:before {
  content: "\e958";
  margin-left: -0.76953125em;
  color: rgb(35, 176, 92);
}
.wrapmsgr_container .icon_document .path1:before {
  content: "\e963";
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_document .path2:before {
  content: "\e964";
  margin-left: -0.76953125em;
  color: rgb(235, 238, 242);
}
.wrapmsgr_container .icon_document .path3:before {
  content: "\e965";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_document .path4:before {
  content: "\e966";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_document .path5:before {
  content: "\e967";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_compressed .path1:before {
  content: "\e968";
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_compressed .path2:before {
  content: "\e969";
  margin-left: -0.76953125em;
  color: rgb(235, 238, 242);
}
.wrapmsgr_container .icon_compressed .path3:before {
  content: "\e96a";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_compressed .path4:before {
  content: "\e96b";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_compressed .path5:before {
  content: "\e96c";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_image .path1:before {
  content: "\e96d";
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_image .path2:before {
  content: "\e96e";
  margin-left: -0.76953125em;
  color: rgb(235, 238, 242);
}
.wrapmsgr_container .icon_image .path3:before {
  content: "\e96f";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_image .path4:before {
  content: "\e970";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_video .path1:before {
  content: "\e971";
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_video .path2:before {
  content: "\e972";
  margin-left: -0.76953125em;
  color: rgb(235, 238, 242);
}
.wrapmsgr_container .icon_video .path3:before {
  content: "\e973";
  margin-left: -0.76953125em;
  color: rgb(167, 173, 176);
}
.wrapmsgr_container .icon_hwp .path1:before {
  content: "\e974";
  color: rgb(41, 172, 237);
}
.wrapmsgr_container .icon_hwp .path2:before {
  content: "\e975";
  margin-left: -0.76953125em;
  color: rgb(222, 243, 252);
}
.wrapmsgr_container .icon_hwp .path3:before {
  content: "\e976";
  margin-left: -0.76953125em;
  color: rgb(41, 172, 237);
}
.wrapmsgr_container .icon_txt .path1:before {
  content: "\e985";
  color: #a7adb0;
}
.wrapmsgr_container .icon_txt .path2:before {
  content: "\e986";
  color: #ebeef2;
  margin-left: -0.76953125em;
}
.wrapmsgr_container .icon_txt .path3:before {
  content: "\e987";
  color: #a7adb0;
  margin-left: -0.76953125em;
}
