{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                //    "extensions": [".ts", ".tsx",".js", ".jsx", ".es", ".es5", ".mjs", ".json" ],
                "stripExtensions": [
                    ".ts",
                    ".tsx",
                    ".es",
                    ".es5",
                    ".mjs"
                ],
                "alias": {
                    "@libs": "./src/libs",
                    "@components": "./src/app/components"
                }
            }
        ]
    ]
}