html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.login-body{
  background: #12923d;
  /* border-radius: 5px; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
  

.form-group {
    margin-top: 15px;
  }

.header{
    height:50px;
    -webkit-app-region: drag;
    /* border-radius: 5px; */
}
.header .min{
    color: white;
    margin-top: 5px;
    margin-right:10px;
    text-decoration: none;
    font-weight: 100;
    float:right;
    font-family: 'Open Sans', sans-serif;
    -webkit-app-region: no-drag;
    cursor:pointer;
}
.header .close{
  color: white;
  margin-top: 5px;
  margin-right:10px;
  text-decoration: none;
  font-weight: 100;
  float:right;
  font-family: 'Open Sans', sans-serif;
  -webkit-app-region: no-drag;
  cursor:pointer;
}

.login-form {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
  }
  
  .login-form .login-username,
  .login-form .login-password,
  .login-form .login-submit {

    height: 45px;
    border-radius: 5px;
    border: none;
    width: 301px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    font-size: 13px;
  }

  .login-form .login-username, .login-form .login-password {
    padding: 0 20px 0 20px;
    width: 100%;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
  }
  
  .login-form .login-submit {
    color: white;
    background: #2ecc71;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .login-form .login-submit:hover, .login-form .login-submit:active {
    background: #27ae60;
    outline: none;
  }
  
  .login-form input:focus, .login-form input:focus {
    outline: 0;
  }
  
  .login-form h1, .login-form p, .login-form a {
    color: white;
    margin: 10px 0 10px 0;
    text-decoration: none;
  }
  
  .login-form h1 {
      font-weight: 100;
      margin-bottom: 20px;
      font-size: 42px;
      font-family: 'Open Sans', sans-serif;
  }

  .login-form .login-forgotpassword:hover,
  .login-form .login-forgotpassword:active{
    text-decoration: underline;
  }

  .lang{
    text-align: center;
  }

  .lang a{
    width: 100%;
    text-decoration: none;
    color: #2ecc71
  }
  .lang li{
    width: 48%;
    list-style-type: none;
    float: left;
    margin-top: 20px;
  }